@charset "utf-8";
/* CSS Document */

#container {width:960px; margin-left:auto; margin-right:auto;}

#upnav {float:left}

#content {
	width:560px;
	padding:10px;
	font-family:
Tahoma, Geneva, sans-serif;
	font-size:24px;
	font-style:italic;
	float:left;
	text-align: left;
}
#right {width:350px; float:left; font-size:18px; color:#6F0; border:dotted; border-color:#09F; padding:10px; padding-top:50px; text-align: justify;}
#footer{width:960px; height:60px; text-align: right;
}
#container #content p {
	text-align: left;
}
#container #content #form5 {
	text-align: center;
}
#container #content table tbody tr td table {
	font-size: 16px;
}
#container #content table tbody tr td #sites-content0 div ul {
	font-size: 18px;
}
#container #content table tbody tr td ul {
	font-size: 18px;
}
